# Challenge: Analyze Customer Online Shopping Data

**Objective:** Use the provided online shopping dataset to gain insights into customer behavior and sales performance.

### Instructions:

1. **Load the Data:** Begin by loading the CSV data into a pandas DataFrame.
2. **Data Exploration:**
   - Display the first few rows of the dataset.
   - Perform a basic summary of key statistics for numeric columns.

3. **Data Analysis Challenges:**

    a. **Total Sales Analysis**
    - #TODO: Calculate the total sales from the `PurchaseAmount` column.
    
    b. **Category Sales Analysis**
    - #TODO: Calculate the total sales for each `ProductCategory`.
    
    c. **Customer Demographics**
    - #TODO: Determine the average age of the customers.
    - #TODO: Find the distribution of customers by country.

4. **Advanced Analysis (Optional):**
    - #TODO: Identify the top 3 customers by total purchase amount.
    - #TODO: Analyze the relationship between customer age and purchase amount. Consider using visualizations.

### Solution Hints:

- You can use `pd.read_csv()` to load the dataset.
- Use `df.head()`, `df.describe()` for data exploration.
- For analysis, functions like `df.sum()`, `df.groupby()`, and `df.mean()` will be useful.
- For the advanced analysis, consider sorting values with `df.sort_values()` and visualizing with `import matplotlib.pyplot as plt` or `import seaborn as sns`.

This challenge is designed to provide practical experience with real-world data analysis tasks using pandas, encouraging hands-on practice with data manipulation, aggregation, and visualization techniques.

In [2]:
import pandas as pd

# Load the data
df = pd.read_csv('./customer_online_shopping.csv')

In [3]:
# Display the first few rows of the dataset
df.head()

,CustomerID,FirstName,LastName,Age,Country,PurchaseAmount,ProductCategory
0,1,Carla,Phillips,57,Saint Barthelemy,301.82,Clothing
1,2,Jeffrey,Gray,21,Montserrat,13.83,Clothing
2,3,Nancy,Robinson,65,Hong Kong,102.41,Clothing
3,4,Christopher,Jones,37,Hong Kong,228.44,Books
4,5,Andrea,Erickson,34,Tanzania,359.78,Home & Kitchen

In [4]:
# Perform a basic summary of key statistics for numeric columns
df.describe()

       CustomerID         Age  PurchaseAmount
count  200.000000  200.000000       200.00000
mean   100.500000   40.970000       260.22725
std     57.879185   14.849297       136.22903
min      1.000000   18.000000        11.05000
25%     50.750000   27.000000       158.14250
50%    100.500000   41.000000       250.85000
75%    150.250000   54.000000       364.62000
max    200.000000   65.000000       499.53000

## Data Analysis Challenges
a. Total Sales Analysis

In [5]:
# TODO: Calculate the total sales from the PurchaseAmount column.
# Hint: You can use df['PurchaseAmount'].sum() to calculate the total sales.

b. Category Sales Analysis

In [ ]:
# TODO: Calculate the total sales for each ProductCategory.
# Hint: Consider using groupby() on 'ProductCategory' and then summing 'PurchaseAmount'.

c. Customer Demographics

In [6]:
# TODO: Determine the average age of the customers.
# Hint: The mean() function can be used on the 'Age' column.

In [7]:
# TODO: Find the distribution of customers by country.
# Hint: value_counts() can be used on the 'Country' column to find the distribution.

## Advanced Analysis (Optional)

In [8]:
# TODO: Identify the top 3 customers by total purchase amount.
# Hint: You might need to group by 'CustomerID' or 'FirstName' and 'LastName', then sum the 'PurchaseAmount'. 
# After summing, sort the values and get the top 3 using head(3).

In [9]:
# TODO: Analyze the relationship between customer age and purchase amount.
# Consider using visualizations. You can use libraries like matplotlib or seaborn for plotting.
# Hint: A scatter plot with 'Age' on one axis and 'PurchaseAmount' on the other can show any correlation between age and spending.